@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.ai-container {
  position: relative;
  padding: 16px;
  background-color: rgb(25, 32, 46);
  height: 100vh;
  color: #fff;
}
.top-left-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 68px;
  /* background-color: red; */
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.left-style {
  flex: 1;
  display: flex;
  justify-content: center;
}
.middle-style {
  flex: 1;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
.right-style {
  padding: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.dynamic-operation {
  padding: 30px;
  width: 100%;
  height: 80%;
  color: #fff;
}

.dynamic-operation > div{
  margin-bottom: 20px;
}
.link-title-style {
  text-align: center;
  color: #375fc4;
  width: 100px;
  padding: 3px 5px;
  margin-bottom: 2rem;
  font-size: 20px;
  background-color: rgb(121,192,255);
}
.token-title-style {
  text-align: center;
  width: 100px;
  padding: 3px 5px;
  margin-bottom: 8px;
  font-size: 20px;
  background-color: rgb(121,192,255); 
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #375fc4;
}

.link-opt-container {
  display: flex;
  margin: 45px;
  margin-top: 20px;
  border-top: 1px solid #ebedf0;
  border-left: 1px solid #ebedf0;
  background-image: url('./image/WechatIMG224.jpg');
  height: calc(100% - 48px);
}
.token-list {
  display: flex;
  justify-content: space-between;
}

.token-list > div {
  margin-right: 8px;
}

.opt-title-style {
  margin-top: 4rem;
  margin-bottom: 2rem;   
  text-align: center;
  width: 100px;
  padding: 3px 5px;
  margin-bottom: 8px;
  font-size: 20px;
  background-color: rgb(121,192,255); 
  color: #375fc4;
}

.operation-style {
display: flex;
justify-content: center;
margin-top: 50px;
width: 200px;
padding: 5px;
color: #ac44d1;  
background-color: #edbbff;
cursor: pointer;
}

.block-style {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 2px 5px;
  background-color: rgb(72,114,140);
}
.selected-style {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 2px 5px;
  background-color: rgba(72,114,140,.8);
  border: 2px solid #a1eeff;
}